In [10]:
import pandas as pd

#### **INICIALIZANDO EL DATASET IRIS**

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv')

#### **DIMENSIÃ“N DEL DATASET**

In [12]:
df.shape

(150, 5)

#### **PRIMEROS 5 ELEMENTOS DEL DATASET**

In [13]:
df.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### **MOSTRANDO NOMBRES DE LAS COLUMNAS**

In [14]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')